[Unit]
Description=Plex Media Agent
After=network.target

[Service]
Type=simple
User=GCE_USER
WorkingDirectory=GCE_DIRECTORY
ExecStart=pmd-agent -p 8080
Restart=on-abort

[Install]
WantedBy=multi-user.target
